
@{
    Layout = null;

    var url = Url.Action("Login", "Usuario");
    <p>Form action: @url</p> <!-- Imprime la URL generada -->
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InicioSesion1</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
